body {
    text-align: center;
    border: 0;
}

h1{
    border-radius: 10px;
    background-color: rgb(73, 151, 215);
    color: aliceblue;
    height: auto;
    margin-top: 80px;
    margin-bottom: 20px;
    padding: 8px;
    
}

span {
    display: inline-block;
    margin: 2%;
    background-color: rgba(193, 205, 147, 0.53);
    border-radius: 10px;
    box-shadow: 5px 5px rgba(132, 141, 100, 0.738);
    transition-duration: 0.5s;
}

span:hover {
    transform: translate(0px, 20px);
    box-shadow: -5px -5px rgba(132, 141, 100, 0.738);
}

span img {
    width: 100px;
    height: 100px;
    object-fit: cover;
    display: flex;
    border-radius: 10px 10px 0 0;
}

span .span-title {
    margin: 5%;
    padding-top: 3%;
}

span .span-links {
    transform: translateY(-10px);
    font-size: small;
}

#pic img {
    margin: 3%;
    border-radius: 10px;
    box-shadow: 5px 5px rgba(132, 141, 100, 0.738);
    transition-duration: 0.5s;
    filter: brightness(80%);
}

#pic img:hover {
    filter: brightness(110%);
    box-shadow: -5px -5px rgba(132, 141, 100, 0.738);
}

#boddy-icons {
    margin: 5%;
}

iframe {
    margin-top: 30px;
    border-radius: 20px;
    box-shadow: 0px 0px 0px 5px  rgba(132, 141, 100, 0.738);
}